main {
  text-align: center;
  margin: 0 auto;
}

.dashboard {
	background-color: white;
	margin: 100px auto;
	padding: 0;
	width: 600px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.dashboard-username {
	position: absolute;
	top: 40px;
	right: 150px;
	font-size: 25px;
	color: white;
  font-family: 'Josefin Sans', sans-serif;
}

img.card-image {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-ms-border-top-right-radius: 6px;
	-o-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-ms-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
}


.submit-form {
	margin: -10px 100px 0 100px;
	padding-bottom: 2px;
	text-align: center;
	display: block;
}

button.answer-button,
.result > button  {
	height: 45px;
	padding: 10px;
	font-size: 18px;
	margin: 20px auto;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}


input[type="text"].location-input {
	width: 250px;
	height: 45px;
  margin: 30px auto 0 auto;
	border: 1px solid rgb(117, 29, 29);
	text-align: center;
	font-size: 25px;
	border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.result {
	margin-top: -10px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 30px;
	font-family: 'Rufina', serif;
	font-weight: 700;
}

.result.correct {
	color: green;
}

.result.incorrect {
	color: red;
}

@media only screen and (max-width: 550px) {
	img.card-image {
	width: 300px;
	height: inherit;
	}


	.dashboard {
		width: 300px;
		margin-top: 20px;
	}

	.dashboard-username {
		position: absolute;
		top: 90px;
		right: 160px;
		font-size: 18px;
	}

	.result {
		width: 300px;
	}

}

@media only screen and (max-width: 420px) {

	input[type="text"].location-input {
		margin-left: -75px; 
		margin-top: 30px;
	}

}

