main {
  text-align: center;
  margin: 0 auto;
}

.dashboard-username {
	position: absolute;
	top: 40px;
	right: 150px;
	font-size: 20px;
	color: rgb(142, 224, 204);
}

img.card-image {
  height: 300px;
  margin: 100px auto;
	transition: ease-in-out, width .35s ease-in-out;
}


.submit-form {
  margin: -110px 100px 0 100px;
	text-align: center;
	background: white;
	display: block;
}

button.answer-button,
.result > button  {
  width: 120px;
	height: 45px;
	padding: 10px;
	font-size: 18px;
	margin: 20px auto;
	border-radius: 3px;
	display: block;
}


input[type="text"].location-input {
	width: 250px;
	height: 45px;
  margin: 30px auto 0 auto;
	border: 1px solid rgb(117, 29, 29);
	text-align: center;
	font-size: 25px;
}

.result {
	width: inherit;
	margin-top: -60px;
	padding-top: 20px;
	font-size: 30px;
}

.result.correct {
	color: green;
}

.result.incorrect {
	color: red;
}

@media only screen and (max-width: 550px) {
	img.card-image {
	width: 300px;
	height: inherit;
	margin-top: 20px;
	}

	.dashboard-username {
		position: absolute;
		top: 90px;
		right: 160px;
		font-size: 18px;
	}

}

@media only screen and (max-width: 420px) {

	input[type="text"].location-input {
		margin-left: -50px; 
		margin-top: 30px;
		/* margin: 30px auto 0 auto; */
	}

}

