form.login-form {
  margin:  20px auto;
  padding: 0 10px 40px 10px;
  background-color: rgba(224, 184, 116, 0.555);
  font-family: 'Rufina', serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border: 2px solid rgb(117, 29, 29);
  border-radius: 5px;
  width: 280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="text"]#username,
input[type="password"]#password,
input[type="password"]  {
	width: 250px;
	height: 30px;
  margin: 10px auto;
  border: 1px solid rgb(117, 29, 29);
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.login-form > button  {
  width: 120px;
	height: 45px;
	padding: 10px;
	font-size: 18px;
	margin: 20px 0;
  border: 1px solid rgb(117, 29, 29);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login-form > button:hover {
  color: ;
  background-color: ;
}

.register-text, .login-text {
  font-size: 22px;
  margin-bottom: 0;
}

